# {{ ansible_managed }}
# See {{ bind_role_git_repo }}/blob/master/templates/named.conf.j2

{% if bind_acls %}
{% for acl in bind_acls | sort %}
acl "{{ acl.name }}" {
{% for address in acl.addresses | sort %}
    {{ address }};
{% endfor %}
};
{% endfor %}
{% endif %}

include "/etc/rndc.key";
{% if 'authdns' in group_names %}
include "/etc/rndc.designate.key";
{% endif %}

controls {
        inet 127.0.0.1 port 953 allow { 127.0.0.1; } keys { "rndc-key"; };
{% if 'authdns' in group_names %}
        inet {{ ansible_host }} port 953 allow { {% for host in groups['openstack-controller'] | sort %}{{ hostvars[host]['ansible_host']}}; {% endfor %}} keys { "designate"; };
{% endif %}
};


options {
        listen-on           port 53 { any; };
        listen-on-v6        port 53 { any; };
        directory           "/var/named";
        dump-file           "/var/named/data/cache_dump.db";
        statistics-file     "/var/named/data/named_stats.txt";
        memstatistics-file "/var/named/data/named_mem_stats.txt";
        allow-query     {
            localhost;
{% if bind_allow_query %}
{% for acl in bind_allow_query | sort %}
            {{ acl }};
{% endfor %}
{% endif %}
        };

        recursion {% if bind_recursion %}yes{% else %}no{% endif %};

        allow-new-zones {% if bind_allow_new_zones %}yes{% else %}no{% endif %};
        request-ixfr {% if bind_request_ixfr %}yes{% else %}no{% endif %};

        dnssec-enable yes;
        dnssec-validation yes;

        minimal-responses yes ;

        /* Path to ISC DLV key */
        bindkeys-file "/etc/named.iscdlv.key";

        managed-keys-directory "/var/named/dynamic";

        pid-file "/run/named/named.pid";
        session-keyfile "/run/named/session.key";
};


logging {
{% if not bind_security_log %}
        category security { null; };
{% endif %}
        channel default_debug {
                file "data/named.run";
                severity dynamic;
        };
};

zone "." IN {
        type hint;
        file "named.ca";
};

{% if bind_forward_zones %}
{% for forward in bind_forward_zones | sort %}
{% if forward.group is defined or forward.servers is defined %}
zone "{{ forward.zone }}" {
    type forward;
    forward only;
    forwarders {
{% if forward.group is defined %}
{% for forwarder in groups[forward.group] | sort %}
        {{ hostvars[forwarder]['ansible_host'] }};
{% endfor %}
{% endif %}
{% if forward.servers is defined %}
{% for forwarder in forward.servers | sort %}
        {{ forwarder }};
{% endfor %}
{% endif %}
    };
};
{% endif %}
{% endfor %}
{% endif %}

include "/etc/named.rfc1912.zones";
include "/etc/named.root.key";

