// {{ ansible_managed }}
//
// named.conf
//
// Provided by Red Hat bind package to configure the ISC BIND named(8) DNS
// server as a caching only nameserver (as a localhost DNS resolver only).
//
// See /usr/share/doc/bind*/sample/ for example named configuration files.
//
// See the BIND Administrator's Reference Manual (ARM) for details about the
// configuration located in /usr/share/doc/bind-{version}/Bv9ARM.html

{% if bind_acls %}
{% for acl in bind_acls %}
acl "{{ acl.name }}" {
{% for address in acl.addresses %}
    {{ address }};
{% endfor %}
};
{% endfor %}
{% endif %}

{% if 'authdns' in group_names %}
include "/etc/rndc.designate.key";

controls {
{% for host in groups['openstack-controller'] %}
        inet {{ ansible_host }} port 953 allow { {{ hostvars[host]['ansible_host']}}; } keys { "designate"; };
{% endfor %}
};
{% endif %}


options {
        listen-on           port 53 { any; };
        listen-on-v6        port 53 { any; };
        directory           "/var/named";
        dump-file           "/var/named/data/cache_dump.db";
        statistics-file     "/var/named/data/named_stats.txt";
        memstatistics-file "/var/named/data/named_mem_stats.txt";
        allow-query     {
            localhost;
{% if bind_allow_query %}
{% for acl in bind_allow_query %}
            {{ acl }};
{% endfor %}
{% endif %}
        };

        recursion {% if bind_recursion %}yes{% else %}no{% endif %};

        allow-new-zones {% if bind_allow_new_zones %}yes{% else %}no{% endif %};
        request-ixfr {% if bind_request_ixfr %}yes{% else %}no{% endif %};

        dnssec-enable yes;
        dnssec-validation yes;

        /* Path to ISC DLV key */
        bindkeys-file "/etc/named.iscdlv.key";

        managed-keys-directory "/var/named/dynamic";

        pid-file "/run/named/named.pid";
        session-keyfile "/run/named/session.key";
};


logging {
        channel default_debug {
                file "data/named.run";
                severity dynamic;
        };
};

zone "." IN {
        type hint;
        file "named.ca";
};

{% if bind_forward_zones %}
{% for forward in bind_forward_zones %}
{% if forward.group is defined or forward.servers is defined %}
zone "{{ forward.zone }}" {
    type forward;
    forward only;
    forwarders {
{% if forward.group is defined %}
{% for forwarder in groups[forward.group] %}
        {{ hostvars[forwarder]['ansible_host'] }};
{% endfor %}
{% endif %}
{% if forward.servers is defined %}
{% for forwarder in forward.servers %}
        {{ forwarder }};
{% endfor %}
{% endif %}
    };
};
{% endif %}
{% endfor %}
{% endif %}

include "/etc/named.rfc1912.zones";
include "/etc/named.root.key";

